@mixin container {
    padding: 0 10em;
}

@mixin capitalTitle {
    text-transform: uppercase;
}

@mixin dualColorTitle {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: $mainColor;
    letter-spacing: 7px;
    font-size: 26px;

    span {
        text-transform: uppercase;
        color: $titleFormFooter;
        letter-spacing: 7px;
        font-weight: 700;
    }
}

@mixin locationTitle {
    margin: 0;
    background: $mainColor;
    color: white;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 17px;
    font-weight: 800;
}

@mixin whiteButton {
    margin: 0;
    width: 130px;
    
    background: white;
    padding: 0.5em 2em;
    color: $mainColor;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

    &:hover {
        background: $mainColor;
        color: white;
        cursor: pointer;
    }
}