@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

* {
    font-family: $mainFont;
}

html, body {
    margin: 0;
    padding: 0;
}

.page-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

// left side

.page-container__left {
    display: flex;
    flex-wrap: wrap;
    min-width: 80%;
    width: 100%;
}

// navbar 
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 108px;
    flex-basis: 100%;
}

.nav-left {
    padding-left: 10em;
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item__text {
    margin: 0 0 0 1em;
    color: $mainColor;
}

.nav__item__text--btn {
    padding: 0.5em 2em;
    background: $mainColor;
    color: white;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
        background-color: $boxesFontColor;
    }
}

.nav__item--hamburger {
    display: flex;
}

.nav__item__button {
    width: 2em;
    border: none;
    background: none;
}

.nav__item__button--ham, .nav__item__button--x {
    color: $mainColor;
    cursor: pointer;
    outline: none;

    &:hover {
        color: $boxesFontColor;
    }
}

.nav__item__button--x {
    display: none;
}

.hidden-btn {
    display: none;
}

// hero section

.hero {
    padding: 0 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 600px;
    flex-basis: 100%;
    background-image: url("../images/headerimage.png");
    background-position: center;
    background-size: cover;
}

.hero__small-title {
    margin: 0;
    color: white;
    flex-basis: 100%;
    font-size: 40px;
    letter-spacing: 5px;
}

.hero__big-title {
    margin: 0;
    @include capitalTitle;
    color: white;
    font-size: 45px;
    letter-spacing: 10px;
}

// location section

.locations {
    padding-top: 50px;
    position: relative;
    background: $lightBackground;
    min-height: 500px;
    flex-basis: 100%;
}

.locations-back {
    padding: 3em 0;
    min-width: 85%;
    height: 287px;
    position: absolute;
    top: -3em;
    left: 5em;
    right: 5em;
    background: white;
    border-radius: 15px;
    z-index: 1;
}

.locations__back__title {
    @include dualColorTitle;
}

.locations-front {
    position: absolute;
    left: 5em;
    right: 5em;
    min-width: 85%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.locations-front__box {
    margin: 1em;
    position: relative;
    height: 400px;
    min-width: 30%;
    max-width: 500px;
}

.locations-front__box-image {
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    max-width: 500px;
    border-radius: 25px;
}

.locations-front__box-image__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3em;
    @include locationTitle;
}

.locations-front__box__button {
    @include whiteButton;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -1.5em;
}

// services section

.services {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $lightBackground;
    text-align: center;
}

.services__title {
    @include dualColorTitle;
    flex-basis: 100%;
}

.services-container {
    display: flex;
    justify-content: space-between;
    min-width: 85%;
    padding-bottom: 10em;
}

.services-container__box {
    margin: 1em;
    padding: 1em;
    min-height: 445px;
    min-width: 20%;
    position: relative;
}

.services-container__box__image {
    position: relative;
    z-index: 2;
}

.services-container__box__body {
    padding: 8em 1em 3em;
    border-radius: 25px;
    background-color: $boxesColor;
    position: absolute;
    left: 0;
    right: 0;
    top: 9em;
    z-index: 1;
}

.services-container__box__body-title {
    text-transform: uppercase;
    color: $boxesFontColor;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 24px;
}

.services-container__box__button {
    @include whiteButton;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -6em;
    z-index: 2;
}

// services-info section 

.services-info {
    background-position: center;
    background-size: cover;
    flex-basis: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services-info__container {
    padding: 2em 4em;
    flex-basis: 70%;
    background-color: white;
    border-radius: 25px;
}

.services-info__container__categories-col {
    font-size: 20px;
}

.services-info__container__title {
    @include dualColorTitle;
    font-size: 23px;
}

.services-info__container__categories {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa-angle-right {
    color: $mainColor;
}

.active-service {
    background-color: $mainColor;
    color: white;
}

// our mission section

.mission {
    flex-basis: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
}

.mission-container {
    flex-basis: 100%;
    background-color: $mainColor;
    position: relative;
}

.mission-container__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 77%;
}

.mission-container__content-left {
    flex-basis: 60%;
}

.mission-container__content-left__title {
    color: white;
    font-size: 30px;

    span {
        font-weight: 800;
    }
}

.mission-container__content-left__text {
    color: white;
    line-height: 2;
}

.mission-container__content-left__button {
    @include whiteButton;
    position: absolute;
    bottom: -35px;
    font-size: 22px;
    padding: 1em 2.5em;
    width: 280px;
    text-align: center;
}

.mission-container__content-right {
    margin: -40px 0;
    width: 353px;
    height: 500px;
    border-radius: 25px;
}

// contact section 

.contact {
    position: relative;
    flex-basis: 100%;
    background-color: $lightBackground;
    padding-bottom: 7em;
}

.contact-background {
    min-width: 100%;
    min-height: 770px;
    background-position: center;
    background-size: cover;
}

.contact-container {
    position: absolute;
    top: 4em;
    left: 20%;
    right: 20%;
    bottom: 0;
    text-align: center;
}

.contact-container__title {
    @include dualColorTitle;
}

.contact-container__text {
    font-size: 20px;
    padding-bottom: 2em;
}

.contact-container__form-container {
    padding: 2em;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 20px 50px 15px rgba(0, 0, 0, 0.1);
}

.contact-container__form-container__title {
    color: $mainColor;
    font-size: 21px;

    span {
        font-weight: 800;
    }
}

.contact-container__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em 3em; 
    
}

.contact-container__form-container__informator {
    color: red;
    background: $lightBackground;
    border-radius: 15px;
    width: 100%;
}

.contact-form__input {
    margin: 0.5em;
    flex-basis: 47%;
    padding: 1em 2em;
    border-radius: 15px;
    border: 1px solid $titleFormFooter;
    box-sizing: border-box;
    outline: none;

    &::placeholder {
        color: $placeholderText;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

select {
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-form__input--select {
    flex-basis: 100%;
    background-image:
      linear-gradient(45deg, transparent 50%, $mainColor 50%),
      linear-gradient(135deg, $mainColor 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 30px) calc(1em + 7px),
      calc(100% - 25px) calc(1em + 7px),
      calc(100% - 2.5em);
    background-size:
      5px 5px,
      5px 5px,
      1px 0;
    background-repeat: no-repeat;
}

.contact-form__input--textarea {
    flex-basis: 100%;
    resize: none;
}

.contact-form__submit-btn {
    border: none;
    @include whiteButton;
    background-color: $mainColor;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -68px;
    font-size: 22px;
    padding: 1em 2.5em;
    width: 280px;
    text-align: center;
}

.select-hide {
    display: none;
}

// social section 

.social {
    flex-basis: 100%;
    background-color: $lightBackground;
}

.social__title {
    @include dualColorTitle;
}

.social__container {
    display: flex;
    margin: 3em 0;
    flex-wrap: wrap;
    justify-content: center;
}

.social__container__box--hidden {
    display: flex;
    flex-wrap: wrap;
    background-color: $mainColorTransparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    transition: height 0.5s;
    visibility: hidden;
}

.social__container__box--hidden-likes, 
.social__container__box--hidden-text {
    color: white;
    flex-basis: 100%;
    text-align: center;
}

.social__container__box--hidden-likes {
    padding-top: 5em;
}

.social__container__box--hidden-text {
    font-size: 0.7em;
}
.social__container__box {
    position: relative;
    flex-basis: 20%;
    min-width: 250px;
    height: 380px;
    background-position: center;

    &:hover {
        cursor: pointer;

        .social__container__box--hidden {
            visibility: visible;
            height: 100%;
        }
    }
}



// right side -- menu bar

.page-container__right {
    background-color: $mainColor;
    width: 0px;
    transition: width 0.5s;
}