@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

* {
    font-family: $mainFont;
}

html, body {
    margin: 0;
    padding: 0;
}

.page-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

// left side

.page-container__left {
    display: flex;
    flex-wrap: wrap;
    min-width: 80%;
    width: 100%;
}

// navbar 
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 108px;
    flex-basis: 100%;
}

.nav-left {
    padding-left: 10em;
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item__text {
    margin: 0 0 0 1em;
    color: $mainColor;
}

.nav__item__text--btn {
    padding: 0.5em 2em;
    background: $mainColor;
    color: white;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
        background-color: $boxesFontColor;
    }
}

.nav__item--hamburger {
    display: flex;
}

.nav__item__button {
    width: 2em;
    border: none;
    background: none;
}

.nav__item__button--ham, .nav__item__button--x {
    color: $mainColor;
    cursor: pointer;
    outline: none;

    &:hover {
        color: $boxesFontColor;
    }
}

.nav__item__button--x {
    display: none;
}

.hidden-btn {
    display: none;
}

// hero section

.hero {
    padding: 0 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 600px;
    flex-basis: 100%;
    background-image: url("../images/headerimage.png");
    background-position: center;
    background-size: cover;
}

.hero__small-title {
    margin: 0;
    color: white;
    flex-basis: 100%;
    font-size: 40px;
    letter-spacing: 5px;
}

.hero__big-title {
    margin: 0;
    @include capitalTitle;
    color: white;
    font-size: 45px;
    letter-spacing: 10px;
}

// location section

.locations {
    padding-top: 50px;
    position: relative;
    background: $lightBackground;
    min-height: 550px;
    flex-basis: 100%;
}

.locations-back {
    padding: 3em 0;
    min-width: 85%;
    height: 287px;
    position: absolute;
    top: -3em;
    left: 5em;
    right: 5em;
    background: white;
    border-radius: 15px;
    z-index: 1;
}

.locations__back__title {
    @include dualColorTitle;
}

.locations-front {
    position: absolute;
    left: 5em;
    right: 5em;
    min-width: 85%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.locations-front__box {
    margin: 1em;
    position: relative;
    height: 400px;
    min-width: 30%;
    max-width: 500px;
}

.locations-front__box-image {
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    max-width: 500px;
    border-radius: 25px;
}

.locations-front__box-image__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3em;
    @include locationTitle;
}

.locations-front__box__button {
    @include whiteButton;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -1.5em;
}

// services section

.services {
    flex-basis: 100%;
    background-color: $lightBackground;
}

.services__title {
    @include dualColorTitle;
}

// right side -- menu bar

.page-container__right {
    background-color: $mainColor;
    width: 0px;
    transition: width 0.5s;
}